$color_body: #53c5ff;
$color_screen: #e8f2b3;
$color_pixel: black;
$pixel_size: 20px;
$pixel_borderWidth: 3px;
$pixel_margin: 3px;
$pixel_inner_margin: 3px;
$pixel_opacity: 0.1;

$nextFigureTableSize: ($pixel_size + $pixel_borderWidth*2 + $pixel_margin)+$pixel_margin;



body {
  background-color: white;
  text-align: center;
	padding: 0;
	margin: 0;
//	font-weight: bold;
	font-size: 24px;
}

.tetris {
	display: inline-block;
	vertical-align: top;
	padding: 300px;
	padding-top: 240px;
	background-color: $color_body;
	background-image: linear-gradient(45deg, #0477c5, #a5dbf9);
	
  
	box-sizing: border-box;
	border: 3px solid black;
	border-top-left-radius: 8%;
	border-top-right-radius: 8%;
	position: relative;
}

.tetris:before {
	border-top-left-radius: 8%;
	border-top-right-radius: 8%;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 4px 4px;
}

#board {
  display: inline-block;
  vertical-align: top;
  position: relative;
//  width: 100%;
//  height: 100%;
/*			outline: 1px solid red;*/
//  margin: auto;
/*			background: url(../img/board.jpg) no-repeat;*/
//  background: url(../img/tetris_background.gif) no-repeat;
//  background-size: 100% auto;
  outline: 1px solid black;
  background: $color_screen;
  box-shadow: inset 10px 10px 3px rgba(black, 0.5);
  padding: 10px;
	outline: inset 60px #53c5ff
}

.screen {
  margin: auto;
  display: inline-block;
  vertical-align: top;
//  position: absolute;
/*			outline: 1px solid red;*/
  left: 173px;
  top: 99px;
  border-spacing: $pixel_margin;
  border: 4px solid black;
  border-left: none;
}

#info__table {
//  outline: 1px solid yellow;
}

.nextFigure {
  margin-top: 10px;
//  background: $color_screen;
  width: $nextFigureTableSize*4;
  height: $nextFigureTableSize*4;
//  outline: 1px solid black;
//  border: 3px solid black;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.screen td,
.info td {
/*  border: 1px solid lime;*/
  width: $pixel_size;
  height: $pixel_size;
//  box-sizing: border-box;
  position: relative;
}

.screen td:before,
.info td:before {
  content: '';
  position: absolute;
  top: $pixel_inner_margin;
  bottom: $pixel_inner_margin;
  left: $pixel_inner_margin;
  right: $pixel_inner_margin;
}

.screen td:not(.hit){
  border: $pixel_borderWidth solid rgba($color_pixel, $pixel_opacity);
}

.screen td:not(.hit):before {
  background-color: rgba($color_pixel, $pixel_opacity);
}

.info {
//  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  color: rgb(0, 0, 0);
  display: inline-block;
  vertical-align: top;
//  padding: 10px 20px;
  text-align: left;
//  outline: 1px solid lime;
}


form {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

.hit {
/*  background: black;*/
  border: $pixel_borderWidth solid rgba($color_pixel, 1);
}

.hit:before {
  background-color: rgba($color_pixel, 1);
}

.score {
  text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.score__table {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
	border-collapse: collapse;
}

.score td {
//  outline: 1px solid black;
	border: 3px solid black;
  padding: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color_screen;
	box-shadow: inherit;
	outline: inherit;
}

.hidden {
  display: none;
}
