$color_body: #53c5ff;
$color_screen: #e8f2b3;
$color_pixel: black;
$pixel_size: 20px;
$pixel_borderWidth: 3px;
$pixel_margin: 3px;
$pixel_inner_margin: 3px;
$pixel_opacity: 0.1;

$nextFigureTableSize: ($pixel_size + $pixel_borderWidth*2 + $pixel_margin)+$pixel_margin;


body {
  background-color: white;
  text-align: center;
	padding: 0;
	margin: 0;
//	font-weight: bold;
	font-size: 24px;
  overflow-x: hidden;
}

.tetris {
  margin-top: -100px;
	display: inline-block;
	vertical-align: top;
	padding: 300px;
	padding-top: 240px;
	background-color: $color_body;
	background-image:
    repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px),
    url('../img/svg1.svg'),
    url('../img/svg2.svg'),
    linear-gradient(45deg, #0477c5, $color_body),
    ;
  background-size: 4px 4px, auto, auto, auto;
  background-repeat: repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0%, 11% 47%, 210% 47%, 0%;
	box-sizing: border-box;
	border: 3px solid black;
	border-top-left-radius: 8%;
	border-top-right-radius: 8%;
	position: relative;

  transform: scale(0.8);
  transform-origin: 50% 0;
}

.tetris:before {
  position: absolute;
  content: '';
  border: 10px solid white;
  border-top-color: transparent;
  top: 154px;
  left: 207px;
  right: 207px;
  bottom: 229px;
}

#board {
  min-width: 451px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: $color_screen;
  box-shadow:
//    inset -1px -1px 3px rgba(white, 0.3),
    inset -1px -1px 10px -2px rgba(black, 1),
    inset 10px 10px 3px rgba(black, 0.5);
  padding: 10px;
	outline: inset 60px #53c5ff;
//  border: 1px solid rgba(black, 0.7);
//  border-bottom-color: rgba(white, 0.1);
//  border-right-color: rgba(white, 0.1);
}

.tetris__title {
    position: absolute;
    color: white;
    top: 94px;
    left: 0px;
    right: 0px;
    z-index: 2;
    /* overflow: hidden; */
    white-space: nowrap;
    text-align: center;
}

.tetris__title:before,
.tetris__title:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 20.2%;
    height: 10px;
    vertical-align: middle;
    background: white;
    background-clip: content-box;
}

.tetris__title:after {
  left: .5em;
  margin: 0 -50% 0 0;
}

.tetris__title:before {
  left: -.5em;
  margin: 0 0 0 -50%;
}

.screen {
  margin: auto;
  display: inline-block;
  vertical-align: top;
//  position: absolute;
/*			outline: 1px solid red;*/
  border-spacing: $pixel_margin;
  border: 4px solid black;
  border-left: none;
}

#info__table {
//  outline: 1px solid yellow;
}

.nextFigure {
  margin-top: 10px;
//  background: $color_screen;
  width: $nextFigureTableSize*4;
  height: $nextFigureTableSize*4;
//  outline: 1px solid black;
//  border: 3px solid black;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.screen td,
.info td {
/*  border: 1px solid lime;*/
  width: $pixel_size;
  height: $pixel_size;
//  box-sizing: border-box;
  position: relative;
}

.screen td:before,
.info td:before {
  content: '';
  position: absolute;
  top: $pixel_inner_margin;
  bottom: $pixel_inner_margin;
  left: $pixel_inner_margin;
  right: $pixel_inner_margin;
}

.screen td:not(.hit){
  border: $pixel_borderWidth solid rgba($color_pixel, $pixel_opacity);
}

.screen td:not(.hit):before {
  background-color: rgba($color_pixel, $pixel_opacity);
}

.info {
//  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  color: rgb(0, 0, 0);
  display: inline-block;
  vertical-align: top;
//  padding: 10px 20px;
  text-align: left;
//  outline: 1px solid lime;
}

form {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

.hit {
/*  background: black;*/
  border: $pixel_borderWidth solid rgba($color_pixel, 1);
}

.hit:before {
  background-color: rgba($color_pixel, 1);
}

.score {
  text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.score__title {
  font-size: 36px;
}

.score__table {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
	border-collapse: collapse;
}

.score td {
//  outline: 1px solid black;
	border: 3px solid black;
  padding: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color_screen;
	box-shadow: inherit;
//	outline: inherit;
}

.overlay__start {
  display: flex;
  margin: auto;
}

.startBlock {
  margin: auto;
  position: relative;
}

.main-play {
  position: relative;
  background: #fde32a;
  padding: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
//  border: 2px solid black;
  box-shadow: 0px 0px 0px 1px rgba(black, 1),
              5px 5px 5px 0px rgba(black, 0.5);
  box-shadow:
    inset 1px 1px 10px 1px rgb(255, 236, 100),
    0 1px 0 rgba(78, 72, 29, 0.3),
    0 6px 0 rgba(82, 76, 30, 0.3),
    0 8px 4px 1px rgba(17, 17, 17, 0.3);
  outline: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.main-play:active {
  top: 4px;
  box-shadow:
    inset 1px 1px 10px 1px rgb(255, 236, 100),
    0 1px 0 rgba(78, 72, 29, 0.3),
    0 2px 0 rgba(82, 76, 30, 0.3),
    0 4px 3px 0 rgba(17, 17, 17, 0.3);
}

.hidden {
  display: none;
}


////////////////////// Цветовые схемы


.tetris_color1 .hit {
  border-radius: 3px;
  border: none;
  padding: 3px;
  box-shadow: inset 0px -1px 2px #01fff9;
//  background-image: linear-gradient(#0245ad, #01dafb);
  background-image: radial-gradient(circle at bottom, rgba(16, 236, 236, 1) 20%, rgba(0, 44, 228, 1) 80%);
}

.tetris_color1 .hit:before {
  background: transparent;
  content: ".";
  color:transparent;
//    line-height: 16px;
  width: 90%;
  margin: 0 auto;
//  margin-top: 0px;
  margin-bottom: 14px;
//  margin-left: 5px;
//  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) );
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) );
  border-radius: 3px;
//    display:block;
}

///Color2
.tetris_color2 .hit {
  border-radius: 3px;
  border: none;
  padding: 3px;
  box-shadow: inset 0px -1px 2px #01fff9;
  background-image: linear-gradient(#0245ad, #01dafb);
}

.tetris_color2 .hit:before {
  background: transparent;
  content: ".";
  color:transparent;
//    line-height: 16px;
  width: 90%;
  margin: 0 auto;
//  margin-top: 0px;
  margin-bottom: 14px;
//  margin-left: 5px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) );
  border-radius: 3px;
//    display:block;
}

